<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>

<hr>

<a href="https://lms.clarusway.com/mod/lesson/view.php?id=2463&pageid=4531&startlastseen=no"><img align="center" src="https://i.ibb.co/6Z5pQxD/lmss.png" alt="Open in Clarusway LMS" width="70" height="200" title="Open Clarusway Learning Management Sytem"></a>

<a href="https://github.com/clarusway/DS-DE-0322-Students/blob/main/3-%20Classes%26Labs/2-DAwPY/DAwPy_S01_(Numpy_Arrays).ipynb"><img align="left" src="https://i.ibb.co/n3HWyQX/github-logo.png" alt="Open in Clarusway GitHub" width="90" height="150" title="Open and Execute in Clarusway GitHub Repository"></a>

<a href="https://nbviewer.org/github/4dsolutions/clarusway_data_analysis/blob/main/DAwPy_S1_%28Numpy_Arrays%29/DAwPy_S1_%28Numpy_Arrays%29.ipynb"><img align="right" src="https://i.ibb.co/48wtV8c/nbviewer-badge.png" alt="Open in nbviewer" width="100" height="100" title="Open and Execute in nbviewer"></a><br/>

<hr>

<p style="text-align: center;"><img src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="500" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="text-align: center;"><img src="https://i.ibb.co/XS0bxSH/best-bootcamps.png" width="300" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY_Courses"></p>

<img src=https://i.ibb.co/6gCsHd6/1200px-Pandas-logo-svg.png width="500" height="200">

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:200%; text-align:center; border-radius:10px 10px;">Data Analysis with Python</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#060108; font-size:150%; text-align:center; border-radius:10px 10px;">Session - 07</p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#4d77cf; font-size:175%; text-align:center; border-radius:10px 10px;">Difference and Similarity of NaN & None in Pandas</p>

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

Java, C++ gibi popüler dillerin aksine Python Null keyword’ünü kullanmaz. Bunun yerine NaN veya None kullanır.

NaN ile None  konsepti yeni başlayanlar için hep karıştırılır. Onlarla benzer işler yaptırılabilse de aralarında önemli farklar vardır. 

NaN bir nümerik value’dur. Pandas'ta missing value'lar için bir yer tutucu (place holder) olarak kullanılır.

None ise NoneType tipinde bir dahili bir Python tipidir. Ve bu bağlamda; "geçersiz sayısal değer" olmaktan ziyade "var olmayan" (inexistent) veya "boşluk" (empy) olarak ifade edilebilir. 

NaN, Not a Number anlamına gelir ve verilerdeki missing value’ları temsil etmenin yaygın yollarından biridir. Özel bir float değeridir ve float dışında başka bir tipe dönüştürülemez.

None'ın ise bildiğimiz anlamda bir tipi yoktur. tipi, Python'un dahili tiplerinden biri olan NoneType'tır.

None’dan ziyade NaN kullanmanın ana nedeni, None’ın daha kullanışsız olan “object” dtyep’ında muhafaza edilmesine karşılık NaN’ın numpy’ın “float64” dytpe’ında muhafaza edilebilmesidir.

Çünkü object tipinde olması numpy’ın tüm etkinliğini kaybetmesi demektir. Oysa np.nan tipi (NaN) vectorized operasyonlara müsaade eder ki numpy’dan beklentimiz zaten budur.

NaN, matematiksel işlemlerde sayısal değer olarak kullanılabilir. Fakat None kullanılamaz. En azından kullanılmamalıdır.

İçinde NaN olan bir array’in toplamını veya ortalamasını alırsanız nan sonuç döndürecektir. Ancak içinde None olan bir array’de aynı işlemleri yapamayacaksınız.

**object==bad, float==good**

Önce tiplerine bir bakalım.:

In [2]:
print("{:>20}".format("type of np.nan :"), type(np.nan))

print("{:>20}".format("type of None :"), type(None))

    type of np.nan : <class 'float'>
      type of None : <class 'NoneType'>

In [3]:
# iki nan'ı karşılaştırırsak:

print(np.nan == np.nan) # değer olarak eşit değildir. çünkü nan belirsiz bir değerdir.

print(np.nan is np.nan) 

""" is ile sorgulama yaptığınızda id değerlerini yani;
 memory location'ını sorgulamış olursunuz ki bu değerler aynıdır.
 Fakat bu; value'ları aynı demek değildir!!"""

False
True

" is ile sorgulama yaptığınızda id değerlerini yani;\n memory location'ını sorgulamış olursunuz ki bu değerler aynıdır.\n Fakat bu; value'ları aynı demek değildir!!"

In [4]:
# iki None'ı karşılaştırırsak:

print(None == None)

print(None is None)

True
True

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Bir missing value olarak NaN ve None</p>

Pandas'ta, bir missing value (NA: ot available) esas olarak nan (not a number) ile temsil edilir. Bununla birlikte None'da bir missing value olarak kabul edilir.

NaN ile None'ın Data tipleri farklı olmasına rağmen Pandas bunlara benzer şekilde muamele eder.  

Örneğin aşağıdaki dataframe'i oluşturup üzerinden NaN ve None'lara focus olalım.

In [5]:
gender = ["M", "F", "M", "F", "M", "F", "M", "F", "M", "F", "M"]
V1 = np.array([2, 3, 5, np.nan, 7, 1, np.nan, 10, 14, "-", 6])
V2 = np.array([8, np.nan, 5, 8, 11, np.nan, np.nan, 2, 3, 7, 9])
V3 = np.array([8, np.nan, 5, 8, 11, np.nan, None, 2, 3, 7, 9])

df0 = pd.DataFrame({
                   "categoric": gender,
                   "object dtype" : V1,
                   "float dtype" : V2,
                   "mixed dtype" : V3,
                  })
df = df0.copy()
df

   categoric object dtype  float dtype mixed dtype
0          M            2          8.0           8
1          F            3          NaN         NaN
2          M            5          5.0           5
3          F          nan          8.0           8
4          M            7         11.0          11
5          F            1          NaN         NaN
6          M          nan          NaN        None
7          F           10          2.0           2
8          M           14          3.0           3
9          F            -          7.0           7
10         M            6          9.0           9

In [6]:
df.info()

# ilk 2 sütun object, 3. sütun float dtype'ında!

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   categoric     11 non-null     object
 1   object dtype  11 non-null     object
 2   float dtype   8 non-null      float64
 3   mixed dtype   8 non-null      object
dtypes: float64(1), object(3)
memory usage: 480.0+ bytes

In [7]:
# var1'in ve gender'ın ilk elemanını None yapalım.
# istediğim sütunların indeks değerlerini fancy index olarak gireceğim:

df.iloc[0, [0, 1, 2]] = None
df

   categoric object dtype  float dtype mixed dtype
0       None         None          NaN           8
1          F            3          NaN         NaN
2          M            5          5.0           5
3          F          nan          8.0           8
4          M            7         11.0          11
5          F            1          NaN         NaN
6          M          nan          NaN        None
7          F           10          2.0           2
8          M           14          3.0           3
9          F            -          7.0           7
10         M            6          9.0           9

dtype'ı object olan ilk 2 sütunda (ilki kategorik ikincisi kategorik değil) None'ların None olarak kaldığını, fakat nümerik bir sütun olan "float dtype" sütununda NaN'a dönüştüğünü fark ettik.

şimdi df'teki missing value'ları check edelim. 
ve pandas'ın np.nan ile None değerlere nasıl yaklaştığını görelim:

In [8]:
df.isnull()

    categoric  object dtype  float dtype  mixed dtype
0        True          True         True        False
1       False         False         True         True
2       False         False        False        False
3       False         False        False        False
4       False         False        False        False
5       False         False         True         True
6       False         False         True         True
7       False         False        False        False
8       False         False        False        False
9       False         False        False        False
10      False         False        False        False

bakın categoric, object type ve float type featurelarındaki "None" olan ilk elemanların üçü de null değer olarak görülerek "True" verdi.

Bununla birlikte object dtype sütununun 3. ve 6. indeksindeki nan olan elemanları bu sütunun tipi object olduğundan "null" olarak değerlendirilmedi ve False verdi.

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">Missing value'ları doldurma</p>

Bu missing value'ları doldurmak için sütunların dtype'ına bağlı olarak değişik veriler kullanabiliriz. 

Şimdi; np.nan ve None olarak her iki null değerin de pd.fillna() fonksiyonu ile doldurulabildiğini göreceğiz. Bunların ikisinin de isnull()'a karşılık True verdiklerini hatırlayalım.

Biz Data Analistler, "categoric" gibi kategorik sütunlarda missing value'ları mode ile doldurmayı tercih ederiz. Bununla birlikte float dtype gibi nümerik sütunda ise değişik metodlar uygulamakla birlikte burada mean()'i tercih edeceğiz:

Ayrıca missing value'ları doldurmadan önce içinde nümerik değerler içeren object dtype sütununun da tipini float'a çevireceğiz.

Tabi ki bu sütunu float'a çevirmeden önce içindeki verilerin float'a çevrilmeye uygun olduğundan emin olmalıyız. Bu nedenle 9. indeksteki "-" değerini np.nan'a çevirmemiz gerekecek.

In [9]:
df["object dtype"] = df["object dtype"].replace("-", np.nan).astype("float")
df.iloc[:, 0].fillna(df.iloc[:, 0].mode(), inplace=True)
df.iloc[:, 1].fillna(df.iloc[:, 1].mean(), inplace=True)
df.iloc[:, 2].fillna(df.iloc[:, 2].mean(), inplace=True)
df

   categoric  object dtype  float dtype mixed dtype
0          F      6.571429     6.428571           8
1          F      3.000000     6.428571         NaN
2          M      5.000000     5.000000           5
3          F      6.571429     8.000000           8
4          M      7.000000    11.000000          11
5          F      1.000000     6.428571         NaN
6          M      6.571429     6.428571        None
7          F     10.000000     2.000000           2
8          M     14.000000     3.000000           3
9          F      6.571429     7.000000           7
10         M      6.000000     9.000000           9

Özetle; NaN ve None Python'da farklı data tipleridir. 

Bununla birlikte; missing value'ları tespit etme ve onları doldurma konusunda geldiğimizde pandas dataframe'leri NaN ve None'a benzer şekilde davranırlar. Bu missing value'ları elimine etmede df.fillna() fonksiyonu hem NaN için hem de  None için iş görür!

<a id="toc"></a>

### <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">NaN değerleri check etmenin 5 metodu</p>

## NaN değerleri check etmenin 5 metodu:

İlk 3 yöntem build in fonksiyonlardır. Sonraki iki yöntem ise NaN değerleri özelliklerine dayanır.

In [10]:
# 1. Pandas kütüphanesini kullanarak: 

import pandas as pd
nan1 = float("nan")
print(f"It's pd.isna : {pd.isna(nan1)}")

It's pd.isna : True

In [11]:
# 2. Numpy kütüphanesini kullanarak:

import numpy as np
nan2 = float("nan")
print(f"It's np.isnan : {np.isnan(nan2)}")

It's np.isnan : True

In [12]:
# 3. Math kütüphanesini kullanarak :
# (The library is applicable to all real numbers. 
# cmath library can be used if dealing with complex numbers.)

import math
nan3 = float("nan")
print(f"It's math.isnan : {math.isnan(nan3)}")

It's math.isnan : True

In [13]:
# 4. Kendisiyle karşılaştırarak. 

""" NaN değerler kendileri hakkında hiç bir şey bilmediğimiz değişik yapılardır.
Bunlar sürekli olarak şekil değiştirirler.  
Bu yüzen NaN değerleri kendisiyle kıyaslayamayız.

NaN valueları çek etmenin yaygın bir yolu da;
değişkenin kendisine eşit olup olmadığının kontrolüdür. 
Eğer eşit değilse o NaN değerdir.
"""
def isNaN(num):
    return num != num

nan4=float("nan")
isNaN(nan4)

True

In [14]:
# 5. Range’i kontrol etme:

""" Tüm float değerler eksi sonsuz ile + sonsuz  arasındadır.

infinity < any number< infinity

Ancaaak. NaN değerler bu aralık içinde değildir!!!
Bu nedenle değer eğer eksi sonsuz ile sonsuz arasına düşmüyor ise NaN valuedur."""

def isNaN(num):
    if float('-inf') < float(num) < float('inf'):
        return False 
    else:
        return True

nan5 = float("nan")
isNaN(nan5)

True

In [15]:
float(np.nan)
# NaN'ın float değeri nan'dır.

nan

In [16]:
float(np.nan) > 0

# NaN'lar sıfırdan büyük değerler değildir.

False

In [17]:
float(np.nan) <= 0
# NaN'lar sıfır veya sıfırdan küçük değer değildir.

False

In [18]:
float('-inf') < float(np.nan) < float('inf')
# NaN'lar eksi sonsuz ile artı sonsuz arasında bir değer değildir.

False

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:150%; text-align:center; border-radius:10px 10px;">End of the Session</p>


<p style="text-align: center;"><img src="https://i.ibb.co/99DQ3TY/DS-Courses.png" class="img-fluid" 
alt="CLRSWY"></p>


<br><br><br>

<p style="text-align: center;"><img src="https://i.ibb.co/Rpz9L36/clarusway-logo-black.png" width="450" height="200" class="img-fluid" alt="CLRSWY_LOGO"></p>

<p style="background-color:#E51A59; font-family:newtimeroman; color:#FDFEFE; font-size:130%; text-align:center; border-radius:10px 10px;">WAY TO REINVENT YOURSELF</p>

<a href="https://clarusway.com/contact-us/"><img align="center" src="https://i.ibb.co/B43qn24/officially-licensed-logo.png" alt="Open in Clarusway LMS" width="110" height="200" title="This notebook is licensed by Clarusway IT training school. Please contact the authorized persons about the conditions under which you can use or share."></a>